/* body {
    font-family: sans-serif;
}

#assignment-instructions {
    font-family: 'sans-serif';
    color: blueviolet
}

code {
    color: red;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: larger;
}

ol :nth-child(2) code {
    color: green;
}

ol>li {
    background-color: black;
    color: white;
} */
/* pseudo classes - : lets us control state of element,   */
/* pseudo elements - :: lets us control parts of element,   */
/*  ************************* */
/* *{
    box-sizing: border-box;
} */
/* html{
    height: 100%;
}
body{
    height: 100%;
}
.div1{
    margin: 50px;
    padding: 80px;
    background: red;
    height: 30px;
    width: 50%;

} 
.div2{
    margin: 50px;
    padding: 80px;
    background: red;
    width: calc(100%-451px);
    display: inline-block;
}
.div2:hover{
    background: white;
    color: red;
} */
/* ********************* Module 1*/

/*  *************************** sections *********************** */
#product-overview{
    background: linear-gradient(to top, rgba(103, 74, 92, 0.6) 10%,transparent), url('./images/dummy.jpeg')  50% 50%/cover no-repeat border-box border-box,#ff1b68;
    width: 100vw;
    /* background: linear-gradient(to top right ,yellow ,red 40%, blue 60%); */
    /* background: radial-gradient(circle at top left,red, blue,green); */
    /* background: radial-gradient(ellipse closest-side at 50% 20%,red 30%, blue,green); */

    /* background-size: cover;

    background-repeat: no-repeat; */
    /* background-position: 100% 100%; ** */
    /* background-position: center; 
    background-origin: border-box; 
    background-clip: 'border-box'; */
    /* border-box -> what the container is for background image -> border-box \ content-box */
    /* background-position: left 10% top 20%; ***/
    /* background position , how much content of the image you want to drop from left and top */
    /* border:5px dashed red; **/
    /* height: 528px; < --  set  it to vh for resposiveness vertically*/ 
    height: 33vh;
    /* padding: 10px; */
    /* margin-top: 16px; */
    margin-top: 2.75rem;
    position: relative; 
    /* with relative we are not refering to the viewport but by setting width and height to vh/vw we are changing this behavior */
    /* on Windows, vw: 100  is  equal to 100% of the viewport width + the scrollbars.*/
    /* In case you don't want to display these scrollbars, you can use one of these solutions:
    -- Use width: 100%  instead of vw: 100
    -- Add overflow-x: hidden;  to the body selector in the shared.css file to hide the horizontal scrollbar (or overflow-y: hidden  to hide the vertical scrollbar)
    -- Alternatively you could also use the ::-webkit-scrollbar pseudo element. Simply add the following code to the shared.css file:

body: :-webkit-scrollbar {
    width: 0
}
    */
}
#product-overview h1{
    color: white;
    font-family: 'Anton',sans-serif;
    position: absolute;
    /* left: 40px; */
    left: 10%;
    bottom: 180px;
    z-index: 1;
}
/* p::first-letter{
    color: red;
} */
.section-title{
    color: #2ddf5c;
    text-align: center;
}
.plan-list{
    /* width: 80%; */
    margin: auto;
    text-align: center;
}
.plan{
    background: #d5ffdc;
    text-align: center;
    /* padding: 16px; */
    padding: 1rem;
    /* margin: 8px; */
    margin: 0.5rem;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}
.plan--highlighted{
    background: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
.plan__annotation{
    background: white;
    color: #19b84c;
    /* padding: 8px; */
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5) ;
    border-radius: 4px;
}
.plan-title{
    color: #0e4f1f;
}
.plan__price{
  color: #858585;
}
.plan--highlighted .plan__price{
    color: #0e4f1f;
}
.plan--highlighted .plan-title{
    color: white;
}
.plan__features{
    list-style: none;
    padding: 0;
    margin: 0;
}
.plan__features li{
   /* padding: 8px 0; */
   padding: 0.5rem 0;
}
#key-features{
    background: #ff1b68;
    /* margin-top: 80px; */
    margin-top: 5rem;
    /* padding: 16px; */
    padding: 1rem;
}
#key-features .section-title{
    color: white;
    /* margin: 32px; */
    margin: 2rem;
}
.key-feature__list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center ;
   
}
.key-feature{
    display: inline-block;
    width: 30%; 
    vertical-align: top;
    /* width is 30% and not 33% becaause white space will also occupy width */
}
.key-feture__description{
    text-align: center;
    font-weight: bold;
    color: white;
    /* font-size: 20px; */
    font-size: 1.2rem;
}
.key-feature__image{
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: 0 auto;
    /* padding: 20px; */
    padding: 1.5rem;
}
.modal{
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc ;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.modal__title{
    text-align: center;
    margin: 0 0 1rem 0;
}
.modal__actions{
    text-align: center;
}
.modal__action{
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.modal__action:hover,.modal__action:active{
    background: #2ddf5c ;
    border-color: #2ddf5c;
}
.modal__action--negative{
    background: red;
    border-color: red;
}
.modal__action--negative:hover,.modal__action--negative:active{
    background: #ff5454;
    border-color: #ff5454;
}




/* *******  MODULE @2 */
/* body{
    font-family: 'sans-serif';
}
nav{
    margin-bottom: 16px;
    background: #fa923f;
    padding: 8px 0;
}
a{
    text-transform: none;
    color: white;
    margin: 10px;
}
a.active{
    color: #521751;
}
a:not(.active){
  color: aqua;
} */
/* a :not() -> will select the which are nested in anchor tags*/
/* anchor tag which does not have the active class */
/* use not which caution */
/* .main-section{
    height: 800px;
    border: 1px solid blue !important;
    padding: 16px;
} */
/* don't use !important unless for an edge case */
/* .highlighted{
    border: 1px solid #fa923f ;
    height: 200px;
} */