main {
    /* padding-top: 32px; */
    padding-top: 2rem;
}
.background{
    background: url('../images/dummy.jpeg') center/cover;
    filter: grayscale(50%);
    background-color: #ff5454;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.package-section {
    border: 4px solid #0e4f1f;
    border-left: none;
    width: 80%;
    /* margin: 16px 0; */
    margin: 1rem 0;
    position: relative;
    z-index: 0;
}
.package-section:hover,.package-section:active{
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-color: #ff5454;
    /* border-color: #ff5454 !important; */
    /* border-left on  hover  is not taking effect(!important) OR*/
}

.package-section a {
    text-decoration: none;
    color: inherit;
    display: block;
    /* margin: 20px 0; */
    /* padding: 32px; */
    padding: 2rem ;
}
.package-section__badge{
   position: fixed;
   top: 0;
   right: 0;
   /* margin: 20px; */
   margin: 1.2rem;
   position: absolute;
   /* font-size: 12px; */
   font-size: 0.8rem;
   color: white;
   background: #ff5454;
   /* padding: 8px; */
   padding: 0.5rem;
   z-index: 10;

}

.package-section__subtitle{
   color: #979797;
}
.package-section__info{
    /* padding: 16px; */
    padding: 1rem;
    border: 1px solid #0e4f1f;
    /* font-size: 20px; */
    font-size: 1.2rem;
    color: #0e4f1f;
    background: white;
}
.cleaarfix{
    clear: both;
}
#plus{
    background: rgb(213,255,220,0.95);
}
#free{
    background: rgba(234,252,237,0.95);
    float: right;
    border-right: none;
    border-left:  4px solid #0e4f1f ;
    text-align: right;
}
#free:hover,#free:active{
    border-right-color: #ff5454;
}
    /* border-left on  hover  is not taking effect ^*/

#premium{
    background: rgba(14,79,31,0.95);
}
#premium .package-section__heading{
   color:white;
}